.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc) {
  counter-increment: section-5;
  counter-reset: section-6;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '. ' attr(data-placeholder);
}

.ProseMirror p.block {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: normal !important;
  color: #000 !important;
  text-align: left !important;
  margin-top: 10pt !important;
  margin-bottom: 10pt !important;
  line-height: 2 !important;
  text-indent: 0pt !important;
}

.ProseMirror > section > section:not(.toc) {
  counter-increment: section-1;
  counter-reset: section-2;
}

.ProseMirror > section > .block-section_title > h1 {
  font-size: 16pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror > section > section:not(.toc) > .block-section_title > h1::before {
  content: counter(section-1, decimal) '. ';
}

.ProseMirror
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '. ' attr(data-placeholder);
}

.ProseMirror > section > section:not(.toc) {
  counter-increment: section-1;
  counter-reset: section-2;
}

.ProseMirror > section > .block-section_title > h1 {
  font-size: 16pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc) {
  counter-increment: section-6;
  counter-reset: section-7;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 10pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '.' counter(section-6, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '.' counter(section-6, decimal) '. '
    attr(data-placeholder);
}

.ProseMirror > section > section > section:not(.toc) {
  counter-increment: section-2;
  counter-reset: section-3;
}

.ProseMirror > section > section > .block-section_title > h1 {
  font-size: 14pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '. '
    attr(data-placeholder);
}

.ProseMirror > section > section > section > section:not(.toc) {
  counter-increment: section-3;
  counter-reset: section-4;
}

.ProseMirror > section > section > section > .block-section_title > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '. ' attr(data-placeholder);
}

.ProseMirror > section > section > section > section:not(.toc) {
  counter-increment: section-3;
  counter-reset: section-4;
}

.ProseMirror > section > section > section > .block-section_title > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '. ' attr(data-placeholder);
}

.ProseMirror > section > section > section > section > section:not(.toc) {
  counter-increment: section-4;
  counter-reset: section-5;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '. '
    attr(data-placeholder);
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc) {
  counter-increment: section-5;
  counter-reset: section-6;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '. ' attr(data-placeholder);
}

.ProseMirror > section > section > section:not(.toc) {
  counter-increment: section-2;
  counter-reset: section-3;
}

.ProseMirror > section > section > .block-section_title > h1 {
  font-size: 14pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '. '
    attr(data-placeholder);
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc) {
  counter-increment: section-6;
  counter-reset: section-7;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 10pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '.' counter(section-6, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '.'
    counter(section-5, decimal) '.' counter(section-6, decimal) '. '
    attr(data-placeholder);
}

.ProseMirror > section > section > section > section > section:not(.toc) {
  counter-increment: section-4;
  counter-reset: section-5;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '. ';
}

.ProseMirror
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(section-1, decimal) '.' counter(section-2, decimal) '.'
    counter(section-3, decimal) '.' counter(section-4, decimal) '. '
    attr(data-placeholder);
}

.ProseMirror .figure-block {
  border-color: #000 !important;
  border-style: none !important;
  border-width: 0pt !important;

  padding: 4pt !important;
  gap: 4pt !important;

  grid-template-columns: repeat(3, auto) !important;
  grid-template-rows: repeat(1, minmax(min-content, max-content)) [caption listing] auto !important;
}

.ProseMirror .figure-group {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 0.5rem;
}

.ProseMirror .figure-block > figure {
  border-color: #000 !important;
  border-style: none !important;
  border-width: 0pt !important;
  position: relative;
  grid-column: 1/-1;
}

.ProseMirror .figure-block > figcaption .figure-label {
  display: initial !important;
}

.ProseMirror .figure-block[id^='MPTable'] {
  border-collapse: collapse;
  empty-cells: show;
  display: grid;
}

.ProseMirror .figure-block[id^='MPTable'] tr:first-of-type > td {
  background-color: #eee !important;

  border-top-color: #000 !important;
  border-top-style: none !important;
  border-top-width: 2pt !important;

  border-bottom-color: #000 !important;
  border-bottom-style: none !important;
  border-bottom-width: 1pt !important;
}

.ProseMirror .figure-block[id^='MPTable'] tr:last-of-type > td {
  background-color: #eee !important;

  border-top-color: #000 !important;
  border-top-style: none !important;
  border-top-width: 1pt !important;

  border-bottom-color: #000 !important;
  border-bottom-style: none !important;
  border-bottom-width: 1pt !important;
}

.ProseMirror .figure-block[id^='MPTable'] > figcaption {
  grid-row: 2 !important;
  text-align: center !important;
}

.unsupported-format-label {
  font-size: 140%;
  line-height: 1.3;
  padding: 10px 0;
}
.unsupported-icon-wrapper {
  padding: 0 0 15px;
}
.tools-panel {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.tools-bottom {
  top: auto;
  bottom: 0;
}

.tools-static {
  position: static;
}

.bibliography-comment > .group-comment-icon {
  top: -5px;
  left: 9px;
}

.block-comment-button.bibliography-comment {
  display: grid;
  position: absolute;
  top: -10%;
  left: 1%;
}

.block-comment-button {
  cursor: pointer;
  position: relative;
  height: 0;
  width: 0;
}

.block-comment-button:active > svg > path {
  stroke: #f7b314;
  fill: #ffe0b2;
}

.selected-comment > svg > path {
  stroke: #f7b314;
  fill: #ffe0b2;
}

.block-comment-button.block-comment {
  z-index: 10;
  left: 93%;
}

.block-comment > .comment-icon,
.group-comment-icon {
  position: absolute;
  top: 16px;
}

.block-comment > .group-comment-icon {
  left: 7px;
  top: 10px;
}

.block-comment-button.figure-comment {
  position: absolute;
  right: 3%;
  z-index: 10;
}

.figure-comment > .comment-icon {
  position: absolute;
  top: 4px;
}

.figure-comment > .group-comment-icon {
  top: 0;
  left: 10px;
}

.block-comment-button.inline-comment {
  z-index: 10;
  left: 100%;
}

.inline-comment > .comment-icon,
.group-comment-icon {
  position: absolute;
  top: 12px;
}

.inline-comment > .group-comment-icon {
  left: 8px;
  top: 6px;
}

.block-comment-button.inline-citation {
  z-index: 1;
  left: -1%;
  top: -8%;
  display: inline-flex;
}

.block-comment-button.point-comment {
  z-index: 1;
  left: 0;
  bottom: 38px;
  display: inline-flex;
}

.bib-item:hover > .bibliography-double-button {
  visibility: visible;
}

.bib-item {
  margin-bottom: 12px;
  min-height: 80px;
}

.bibliography-double-button {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 100%;
  width: 36px;
  visibility: hidden;
}

.bibliography-edit-button,
.bibliography-comment-button {
  text-decoration: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 40px;
  background: #ffffff;
  color: inherit;
  border: 1px solid #e2e2e2;
  border-radius: 32px 32px 0 0;
  cursor: pointer;
}
.bibliography-double-button button:disabled svg {
  opacity: 0.25;
}

.bibliography-comment-button {
  border-radius: 0 0 32px 32px;
}

.keywords {
  margin: 0 0 36px;
}

.keywords h1 {
  color: #353535;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 4px;
  padding: 0;
}

.keywords-list {
  margin: 0;
  display: inline;
}

.keywords-list span.keyword {
  display: inline-block;
  color: #353535;
  background-color: #f2f2f2;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 4px 8px;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
}

.keywords-list span.keyword:hover {
  background-color: #f2fbfc;
  border-color: #f2fbfc;
}

.keywords-list span.keyword.selected {
  background-color: #f2fbfc;
  border-color: #bce7f6;
}

.keywords-list .keyword.deleted.pending,
.keywords-list .keyword.deleted.accepted {
  text-decoration: line-through;
}

.keywords-list span.delete-keyword {
  cursor: pointer;
  margin: 0 0 0 8px;
  opacity: 0.5;
}

.keywords-list span.delete-keyword:hover {
  opacity: 1;
}

.keywords-list > div {
  display: inline;
}

.keywords-editor {
  position: static;
  display: inline-block;
  width: auto;
}

.keywords > .block-section_title > .block-gutter {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
}

.keywords > .block-section_title > .block {
  align-items: center;
}

.ProseMirror .inserted.pending {
  background: #ddf3fa;
  text-decoration: none;
}
.ProseMirror .inserted.accepted {
  background: #bffca7;
  text-decoration: none;
}
.ProseMirror .inserted.rejected {
  display: none;
}
.ProseMirror .deleted.pending {
  background: #ddf3fa;
}
.ProseMirror .deleted.accepted {
  background: #bffca7;
}
.ProseMirror .deleted.rejected {
  text-decoration: none;
}
.ProseMirror figure[data-track-status='rejected'][data-track-op='insert'],
.ProseMirror table[data-track-status='rejected'][data-track-op='insert'],
.ProseMirror
  .block-container[data-track-status='rejected'][data-track-op='insert'] {
  display: none;
}

.ProseMirror .track-block-node {
  display: block;
}

.ProseMirror .track-inline-node {
  display: inline;
}
