.ProseMirror
  > div.body
  section:not(.toc)
  .block-section_title
  h1.empty-node[data-placeholder]::before {
  content: attr(data-section-number) '. ' attr(data-placeholder);
}

.ProseMirror > div.body section:not(.toc) .block-section_title h1::before {
  content: attr(data-section-number) '. ';
}

.ProseMirror
  > div.body
  .block-box_element
  .box-element
  section:not(.toc)
  .block-section_title
  h1.empty-node[data-placeholder]::before {
  content: attr(data-placeholder);
}

.ProseMirror
  > div.body
  .block-box_element
  .box-element
  section:not(.toc)
  .block-section_title
  h1::before {
  content: none;
}

.ProseMirror > div .block-section_title > h1 {
  font-size: 16pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  padding-top: 8pt !important;
  padding-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}
.ProseMirror .block-section_title h1[data-title-level] {
  font-size: 12pt !important;
}

.ProseMirror .block-section_title h1[data-title-level='1'] {
  font-size: 16pt !important;
}

.ProseMirror .block-section_title h1[data-title-level='2'] {
  font-size: 13.5pt !important;
}

.ProseMirror div.backmatter:not(.empty-node)::before,  .ProseMirror div.abstracts:not(.empty-node)::after {
  content: '';
  border-bottom: 1px dashed #c9c9c9;
  display: block;
  margin: 11pt 49pt;
}
.ProseMirror div.backmatter .block-section_title > h1 {
  font-size: 13.5pt !important;
  color: #6e6e6e !important;
}
.completion-bearer {
  pointer-events: none;
}
.block-section_title .completion-bearer:after {
  content: attr(data-suggest);
  opacity: 0.5;
  pointer-events: none;
  font-style: italic;
}

.ProseMirror p.block {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: normal !important;
  color: #353535 !important;
  text-align: left !important;
  padding-top: 10pt !important;
  padding-bottom: 10pt !important;
  line-height: 2 !important;
  text-indent: 0pt !important;
}

.ProseMirror .figure-block {
  border-color: #000 !important;
  border-style: none !important;
  border-width: 0pt !important;

  padding: 4pt !important;
  gap: 4pt !important;

  grid-template-columns: repeat(3, auto) !important;
  grid-template-rows: repeat(1, minmax(min-content, max-content)) [caption listing] auto !important;
}

.ProseMirror .figure-group {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 0.5rem;
}

.ProseMirror .figure-block > figure {
  border-color: #000;
  border-style: none;
  border-width: 0pt;
  position: relative;
  grid-column: 1/-1;
}

.ProseMirror .figure-block > figcaption .figure-label {
  display: initial !important;
}

.ProseMirror .figure-block[id^='MPTable'] {
  border-collapse: collapse;
  empty-cells: show;
  display: grid;
}

.ProseMirror .figure-block[id^='MPTable'] tr:first-of-type > td {
  background-color: #eee !important;

  border-top-color: #000 !important;
  border-top-style: none !important;
  border-top-width: 2pt !important;

  border-bottom-color: #000 !important;
  border-bottom-style: none !important;
  border-bottom-width: 1pt !important;
}

.ProseMirror .figure-block[id^='MPTable'] tr:last-of-type > td {
  background-color: #eee !important;

  border-top-color: #000 !important;
  border-top-style: none !important;
  border-top-width: 1pt !important;

  border-bottom-color: #000 !important;
  border-bottom-style: none !important;
  border-bottom-width: 1pt !important;
}

.ProseMirror .figure-block[id^='MPTable'] > figcaption {
  grid-row: 2 !important;
  text-align: center !important;
}

.ProseMirror .block-container.block-box_element {
  grid-template-columns: auto;
}

.ProseMirror .block-container.block-box_element > .block.box-element {
  position: relative;
  display: grid;
  grid-template-columns: auto;
}

.ProseMirror .box-element .block-container .block {
  background: var(--box-element-bg-color);
  padding-left: 12px;
  border-left: 2px solid #e2e2e2;
  border-right: 2px solid #e2e2e2;
}

.ProseMirror .box-element::after,
.box-element > .block-section::before {
  content: ' ';
  margin-left: 52px;
  margin-right: 52px;
  border-top: 2px solid #e2e2e2;
  height: 0;
}

.box-element > figcaption {
  margin-left: 54px;
  margin-right: 54px;
  padding-bottom: 6px;
  text-align: left;
}

.ProseMirror
  .box-element
  .block-section_title
  h1.empty-node[data-placeholder]::before {
  font-style: italic !important;
  font-weight: 400 !important;
  line-height: 24px;
  letter-spacing: -0.369px;
  font-size: 13.5pt;
}
.ProseMirror
  .box-element
  .block-section:first-of-type
  > section:first-of-type
  > .block-section_title:first-of-type
  > h1.empty-node[data-placeholder]::before {
  font-size: 16pt;
}
.box-element section figcaption {
  background: var(--box-element-bg-color);
}
.unsupported-format-label {
  font-size: 140%;
  line-height: 1.3;
  padding: 10px 0;
}
.unsupported-icon-wrapper {
  padding: 0 0 15px;
}
.tools-panel {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
}

.tools-bottom {
  top: auto;
  bottom: 0;
}

.tools-static {
  position: static;
}

.comment-marker.selected-comment > svg > path,
.comment-marker:active > svg > path {
  stroke: #f7b314;
  fill: #ffe0b2;
}

.comment-marker {
  display: inline-flex;
  width: 0;
  z-index: 5;
  top: -20px;
  left: 0;
  cursor: pointer;
  position: relative;
}

#editor .manuscript-title + .comment-marker {
  top: 0;
  left: 60px;
}

.block > div.comment-marker,
.figure-block > div.comment-marker {
  top: -25px;
  left: 100%;
}

ul > .comment-marker,
ol > .comment-marker {
  float: left;
}

li > .comment-marker {
  float: right;
}

.figure-block div.comment-marker {
  grid-column: 3;
}

figure.block > .comment-marker {
  float: right;
  top: 0;
  left: 0;
}

section > .comment-marker, .body > .comment-marker {
  top: 12px;
  float: right;
  left: -64px;
}

span.comment-marker {
  top: -38px;
  left: -10px;
}

.citation-wrapper + .comment-marker {
  left: -2px;
}

.keyword-group > .comment-marker {
  float: right;
}

.comment-marker svg {
  position: absolute;
  top: 12px;
}

.comment-marker[data-count='0'] {
  display: none;
}

.comment-marker[data-count]:after {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: attr(data-count);
  top: 8px;
  left: 8px;
  background-color: #f7b314;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 9px;
  color: #ffffff;
}

.bib-item:hover > .bibliography-double-button {
  visibility: visible;
}

.bib-item {
  display: flex;
  margin-bottom: 12px;
  min-height: 80px;
}

.bibliography-double-button {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 100%;
  width: 36px;
  visibility: hidden;
}

.bibliography-edit-button,
.bibliography-comment-button {
  text-decoration: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 40px;
  background: #ffffff;
  color: inherit;
  border: 1px solid #e2e2e2;
  border-radius: 32px 32px 0 0;
  cursor: pointer;
}
.bibliography-double-button button:disabled svg {
  opacity: 0.25;
}

.bibliography-comment-button {
  border-radius: 0 0 32px 32px;
}

.ProseMirror > .keywords > .block-section_title > h1 {
  color: #353535 !important;
  font-size: 12px !important;
  font-style: italic !important;
  font-weight: 400 !important;
  line-height: 16px !important;
}
.ProseMirror h1.authors-info-header {
  color: #353535 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  margin: 0 !important;
}

.ProseMirror h1.title-awards {
  margin: 0 64px !important;
}

.ProseMirror .block-award,
.ProseMirror .author-notes-container > div {
  margin-bottom: 16px;
}
.ProseMirror .block-award:last-child,
.ProseMirror .author-notes-container > div:last-child {
  margin-bottom: 0;
}

.keywords .keyword {
  display: inline-block;
  color: #353535;
  background-color: #f2f2f2;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid transparent;
  border-radius: 6px;
  position: relative;
  cursor: default;
  padding: 4px 8px;
  border: 1px solid #c9c9c9;
  margin-top: 10px;
  margin-bottom: 4px;
}

.keywords .selected-suggestion {
  line-height: 1.6 !important;
  display: inline-block;
}

.keywords .selected-suggestion .keyword {
  background: none !important;
  margin: 0;
}

.keyword-group > span {
  margin-right: 4px;
}

.keywords .keyword ins,
.keywords .keyword del {
  background-color: inherit !important;
}

.keywords .keyword.selected {
  background-color: #f2fbfc;
  border-color: #bce7f6;
}

.keywords .keyword .track-changes--control {
  top: 0;
}

.keywords .delete-keyword {
  cursor: pointer;
  margin: 0 0 0 8px;
  opacity: 0.5;
}

.keywords .delete-keyword:hover {
  opacity: 1;
}

.keywords .deleted .delete-keyword {
  display: none;
}

.keywords .inserted .delete-keyword {
  display: none;
}

.keywords .keyword-group-container {
  position: relative;
  margin: 0 0 36px !important;
}

.keywords .keyword-group {
  display: inline;
}

.keywords .keywords-editor {
  position: static;
  display: inline-block;
  width: auto;
}
.author-notes > .block-section_title > .block-gutter,
.keywords > .block-section_title > .block-gutter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0;
}

.block-box_element > .block-gutter {
  margin-top: 14px;
}
.author-notes > .block-section_title > .block,
.keywords > .block-section_title > .block {
  align-items: center;
}

.author-notes .block-comment-button,
.keywords .block-comment-button {
  position: absolute;
  right: 0;
  top: 0;
}

.author-notes .block-comment-button .comment-icon,
.keywords .block-comment-button .comment-icon {
  top: 8px;
}

.attrs-popper-button-active,
.attrs-track-mark:hover .attrs-popper-button {
  display: inline-flex;
}

.attrs-popper-button {
  display: none;
  background: #fff;
}

.attrs-popper-button:hover {
  background: #f2fbfc;
}

.attrs-popper-button:hover path {
  stroke: #1a9bc7;
}

.attrs-popper-button,
.attrs-popper-button-active {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: solid 1px #e2e2e2;
  align-items: center;
  justify-content: space-around;
  margin: 2px;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  right: 0;
}

.ProseMirror {
  --inserted-pending-bg-color: #e6ffdb;
  --inserted-pending-color: #01872e;
  --updated-pending-bg-color: #E6F7FC;
  --updated-pending-color: #0284B0;
  --accepted-bg-color: #e2e2e2;
  --deleted-color: #f35143;
  --deleted-pending-bg-color: #fff1f0;
  --updated-bg-color: #d9f6ff;
  --updated-border-color: #1a9bc7;
  --highlight-bg-color: #ffeebf;
  --common-color: #353535;
  --box-element-bg-color: #fafafa;
}
.ProseMirror ins,
.ProseMirror del {
  text-decoration: none;
}

.selected-suggestion::selection {
  background: none;
}

@keyframes fadeOutBackground {
  0% {
    background: var(--fade-color);
  }
  100% {
    background: transparent;
  }
}

.selected-suggestion:not(.block-container):not(.graphical-abstract):not(
    .keywords
  ):not(figure):not(figure .equation) {
  border-width: 2px 0 2px 0 !important;
  border-style: solid !important;
}

.block-bullet_list .selected-suggestion p,
.block-ordered_list .selected-suggestion p {
  margin: 0;
}

.block-bullet_list .selected-suggestion,
.block-ordered_list .selected-suggestion {
  margin: 16px 0;
}

/* Insert */
.tracking-visible .ProseMirror .inserted,
.tracking-visible .ProseMirror .block-award[data-track-op='insert'] span {
  background: var(--inserted-pending-bg-color);
  color: var(--inserted-pending-color);
  text-decoration: underline;
}

.ProseMirror .selected-suggestion .inserted,
.ProseMirror .block-award.selected-suggestion span,
.ProseMirror .selected-suggestion [data-track-op='insert'] .block,
.ProseMirror .selected-suggestion .deleted {
  background-color: var(--selected-pending-background-color) !important;
  color: var(--common-color) !important;
}

.tracking-visible .ProseMirror .set_attrs,
.tracking-visible .ProseMirror .block-award[data-track-op='set_attrs'] span {
  background: var(--updated-pending-bg-color);
  color: var(--updated-pending-color);
  text-decoration: none;
}

.inserted:has(.selected-suggestion),
.inserted.selected-suggestion,
.selected-suggestion:has(.inserted) {
  border-color: var(--inserted-pending-color) !important;
  text-decoration: none !important;
}

/* Delete */
.ProseMirror .deleted::before,
.ProseMirror .deleted,
.ProseMirror p .equation.deleted {
  display: none;
}

.tracking-visible .ProseMirror .deleted::before,
.tracking-visible .ProseMirror .deleted,
.tracking-visible .ProseMirror p .equation.deleted,
.tracking-visible .ProseMirror .block-award[data-track-op='delete'] span {
  display: inline;
  background: var(--deleted-pending-bg-color);
  color: var(--deleted-color);
  text-decoration: line-through;
}

.tracking-visible .ProseMirror .block.deleted {
  display: block;
}

.tracking-visible .ProseMirror .equation.deleted {
  display: flex;
}

.tracking-visible .ProseMirror .footnote.deleted::before,
.tracking-visible .ProseMirror .footnote.deleted {
  display: flex;
}

.tracking-visible .equation.deleted:after {
  content: '';
  width: 100%;
  left: 0;
  position: absolute;
  border-top: 1px solid red;
  top: calc(50% + 1px);
}


.selected-suggestion .equation.deleted:after,
.selected-suggestion.equation.deleted:after {
  content: none;
}

.deleted:has(.selected-suggestion),
.deleted.selected-suggestion,
.selected-suggestion:has(.deleted) {
  border-color: var(--deleted-color) !important;
  text-decoration: none !important;
}

/* Update */
.tracking-visible .ProseMirror .set_attrs {
  background: var(--updated-bg-color);
  text-decoration: none;
}

.selected-suggestion:has(.set_attrs),
.selected-suggestion.set_attrs {
  border-color: var(--updated-border-color) !important;
}

/* */
.block-award.selected-suggestion span,
.selected-suggestion .inserted,
.selected-suggestion .deleted {
  text-decoration: none !important;
}

.block-award.selected-suggestion span,
.selected-suggestion .inserted:not(.citation.inserted),
.selected-suggestion .deleted:not(.citation.deleted),
figure.block .equation.set_attrs.selected-suggestion {
  background-color: transparent !important;
}

/* Inserted Block */
.tracking-visible .ProseMirror [data-track-op='insert'][data-track-status='pending'] .block,
.tracking-visible .ProseMirror [data-track-op='node_split'][data-track-status='pending'] .block,
.tracking-visible .ProseMirror [data-track-op='wrap_with_node'][data-track-status='pending'] .block {
  box-shadow: inset 3px 0 0 var(--inserted-pending-color);
}

.selected-suggestion[data-track-status='pending'][data-track-op='insert'] .block,
.selected-suggestion[data-track-status='pending'][data-track-op='insert'] .block,
.selected-suggestion[data-track-op='wrap_with_node'][data-track-status='pending'] .block {
  box-shadow: inset 6px 0 0 var(--inserted-pending-color), inset 9px 0 0 var(--inserted-pending-bg-color) !important;
  animation: fadeOutBackground 3s forwards;
  --fade-color: var(--inserted-pending-bg-color);
}

/* Deleted Block */
.ProseMirror
  .block-container[data-track-status='pending'][data-track-op='delete'] {
  display: none;
}
.tracking-visible
  .ProseMirror
  .block-container[data-track-status='pending'][data-track-op='delete'] {
  display: grid;
}

.tracking-visible .ProseMirror [data-track-status='pending'][data-track-op='delete'] .block {
  box-shadow: inset 3px 0 0 var(--deleted-color);
}

.selected-suggestion[data-track-status='pending'][data-track-op='delete'] .block,
.selected-suggestion[data-track-status='pending'][data-track-op='delete'] .block {
  box-shadow: inset 6px 0 0 var(--deleted-color), inset 9px 0 0 var(--deleted-pending-bg-color) !important;
  animation: fadeOutBackground 3s forwards;
  --fade-color: var(--deleted-pending-bg-color);
}

/* Updated Block */
.tracking-visible .ProseMirror [data-track-op='set_attrs'] .block,
.tracking-visible .block:has(figure[data-track-op='set_attrs']),
.tracking-visible figure.block:has(.equation.set_attrs) {
  box-shadow: inset 3px 0 0 var(--updated-border-color);
}

.selected-suggestion[data-track-op='set_attrs'] .block,
.selected-suggestion [data-track-op='set_attrs'] .block,
.block:has(figure.selected-suggestion[data-track-op='set_attrs']),
figure.block:has(.equation.set_attrs.selected-suggestion) {
  box-shadow: inset 6px 0 0 var(--updated-border-color), inset 9px 0 0 var(--updated-bg-color) !important;
  animation: fadeOutBackground 3s forwards;
  --fade-color: var(--updated-bg-color);
}

.tracking-visible .subtree .deleted {
  display: inline;
  text-decoration: line-through;
}

.subtree .deleted {
  display: none;
}

.citation-wrapper {
  position: relative;
}

.track-changes-review {
  display: none;
  height: 36px;
  vertical-align: middle;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  margin-left: -5px;
}
.track-changes-review:hover path {
  stroke: #1a9bc7;
}
.citation-wrapper:hover .track-changes-review {
  display: inline-block;
}

.contributor[data-track-status='pending'][data-track-op='delete'],
.affiliation[data-track-status='pending'][data-track-op='delete'] {
  display: none;
}

.tracking-visible
  .contributor[data-track-status='pending'][data-track-op='delete'],
.tracking-visible
  .affiliation[data-track-status='pending'][data-track-op='delete'] {
  display: inline-flex;
  text-decoration: line-through;
  color: var(--deleted-color);
  background-color: var(--deleted-pending-bg-color);
}

.tracking-visible
  .contributor[data-track-status='pending'][data-track-op='insert'],
.tracking-visible
  .affiliation[data-track-status='pending'][data-track-op='insert'] {
  background: var(--inserted-pending-bg-color);
  color: var(--inserted-pending-color);
  text-decoration: underline;
}

.tracking-visible .contributor[data-track-status='pending'][data-track-op='set_attrs'],
.tracking-visible .affiliation[data-track-status='pending'][data-track-op='set_attrs'] {
  background: var(--updated-bg-color);
  color: var(--common-color);
  border-color: var(--updated-border-color);
}

.selected-suggestion.contributor,
.selected-suggestion.affiliation {
  text-decoration: none !important;
}

.block-contributors,
.block-author_notes,
.block-awards,
.block-affiliations,
.keywords {
  margin: 15px 0px;
}
.block-award {
  position: relative
}
.block-awards.empty-node {
  display: none;
}
.contributors {
  display: flex;
  align-items: flex-start;
}
.contributors-list {
  display: flex;
  max-width: 100%;
  flex: 0 1 auto;
  flex-wrap: wrap;
  align-items: baseline;
}
.contributors-list .separator {
  margin-right: 4px;
}
.block-contributors .tools-panel {
  position: initial;
  display: flex;
  flex: 1;
  align-items: center;
  margin-top: 4px;
  left: -10px;
}
.contributor .contributor-comment {
  left: 0;
  top: -8px;
  width: auto;
  height: auto;
}
.contributor {
  position: relative;
  display: inline-flex;
  background: transparent;
  border: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  outline: none;
  padding: 4px 0;
}

.contributor:not(:disabled):hover {
  cursor: pointer !important;
  background-color: #d9f6ff;
}

.contributor-note:last-child {
  margin: 0;
}

.contributor:not(:disabled):focus {
  cursor: pointer !important;
}

.contributors-legend {
  margin: 16px 0 0 0;
}

.contributor-legend .symbol {
  display: inline-block;
  font-size: 0.75em;
  line-height: 1;
  vertical-align: top;
}

.contributor-note {
  display: inline-block;
  font-size: 0.75em;
  margin: 0 1px;
  line-height: 1;
  vertical-align: top;
}

.block-affiliations {
  color: #6e6e6e;
}

.affiliation {
  line-height: 1.2;
  cursor: default;
  user-select: none;
}

.affiliation .affiliation-label {
  font-weight: bold;
  margin-right: 4px;
}

.block-affiliations .block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.ProseMirror .doi-container {
  margin: 1rem 64px 0;
  font-size: 12px;
  color: #6e6e6e;
}

* {
  scroll-behavior: smooth;
}

.ProseMirror li.ProseMirror-selectednode:after {
  content: none;
}
.manuscript-title {
  margin-bottom: 20px;
}
.ProseMirror .manuscript-title.empty-node .article-titles::before {
  content: attr(data-placeholder);
}

.ProseMirror .table-context-menu-button svg {
  margin: 4px;
  pointer-events: none;
}

.ProseMirror .table-context-menu-button {
  visibility: hidden;
  display: flex;
  justify-content: center;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  width: 22px;
  padding: 0;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 10;
}

.ProseMirror td:hover > .table-context-menu-button,
th:hover > .table-context-menu-button,
.open-context-menu {
  visibility: visible !important;
}

.section-category-button {
  position: absolute;
  right: 0;
  top: 14px;
  line-height: 1.6;
  background: unset;
  border: none;
  opacity: 0;
  padding: 0;
  margin: 0 6px;
  cursor: pointer;
  z-index: 10;
}

.section-category-button svg {
  width: 16px;
  height: 20px;
  position: relative;
}

.section-category-button:not(.assigned) path {
  fill: #ffe0b2;
}

.section-category-button.assigned:after {
  top: 2px;
  right: 5px;
  position: absolute;
  content: '';
  height: 8px;
  width: 4px;
  border-bottom: 2px solid #36b260;
  border-right: 2px solid #36b260;
  transform: rotate(45deg);
}

.ProseMirror .block-container:hover .section-category-button {
  opacity: 1;
}
.section-category.menu {
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.3);
}

.section-category.menu .menu-item {
  padding: 7px 8px 8px 16px;
  box-sizing: border-box;
  min-width: 176px;
  height: 37px;
  padding-right: 40px;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  background: none;
  border: unset;
  display: flex;
}

.section-category.menu .menu-item.selected:after {
  top: 10.5px;
  right: 19px;
  position: absolute;
  content: '';
  height: 10px;
  width: 5px;
  border-bottom: 2px solid #36b260;
  border-right: 2px solid #36b260;
  transform: rotate(45deg);
}

.section-category.menu .menu-item.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.section-category.tooltip {
  font-family: 'Lato, sans-serif';
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background: #e2e2e2;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #353535;
  line-height: 16px;
}

.section-category.tooltip span {
  color: #353535;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-left: 3.2px;
}

.popper[data-popper-placement] .section-category.popper-arrow {
  border-width: 10px;
  right: -20px;
  top: 6px;
  pointer-events: none;
}

.ProseMirror .block-contributors .context-menu > div {
  border-radius: 4px;
  border: 1px solid #c9c9c9;
  background: #fff;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.3);
}

.ProseMirror .block-contributors .action-gutter {
  right: 15px;
  pointer-events: none;
}