/* LVL 1 */
/*
This level is actually hidden in the editor
Next levels are shifted 'up' by 1
*/
.ProseMirror > div.body > section:not(.toc) {
  counter-increment: level_1 0;
}

.ProseMirror > div > .block-section_title > h1 {
  font-size: 16pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}

/* LVL 2 */
.ProseMirror > div.body > section:not(.toc) {
  counter-increment: level_1;
  counter-reset: level_2;
}
.ProseMirror > div > section > .block-section_title > h1 {
  font-size: 15.75pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #353535 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 24pt;
  text-indent: 0pt;
  display: inline;
}
.ProseMirror > div.body {
  counter-reset: level_1;
}
.ProseMirror
  > div.body
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(level_1, decimal) '. ';
}

.ProseMirror
  > div.body
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(level_1, decimal) '. ' attr(data-placeholder);
}
/* LVL 3 */
.ProseMirror > div.body > section > section:not(.toc) {
  counter-increment: level_2;
  counter-reset: level_3;
}
.ProseMirror > div > section > section > .block-section_title > h1 {
  font-size: 13.5pt !important;
  font-style: normal !important;
  font-weight: 700 !important;
  color: #353535 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 24pt;
  text-indent: 0pt;
  display: inline;
}
.ProseMirror
  > div.body
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(level_1, decimal) '.' counter(level_2, decimal) '. ';
}
.ProseMirror
  > div.body
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(level_1, decimal) '.' counter(level_2, decimal) '. '
    attr(data-placeholder);
}
/* LVL 4 */
.ProseMirror > div.body > section > section > section:not(.toc) {
  counter-increment: level_3;
  counter-reset: level_4;
}
.ProseMirror > div > section > section > section > .block-section_title > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}
.ProseMirror
  > div.body
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(level_1, decimal) '.' counter(level_2, decimal) '.'
    counter(level_3, decimal) '. ';
}

.ProseMirror
  > div.body
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(level_1, decimal) '.' counter(level_2, decimal) '.'
    counter(level_3, decimal) '. ' attr(data-placeholder);
}
/* LVL 5 */
.ProseMirror > div.body > section > section > section > section:not(.toc) {
  counter-increment: level_4;
  counter-reset: level_5;
}

.ProseMirror
  > div
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}
.ProseMirror
  > div.body
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(level_1, decimal) '.' counter(level_2, decimal) '.'
    counter(level_3, decimal) '.' counter(level_4, decimal) '. ';
}
.ProseMirror
  > div.body
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(level_1, decimal) '.' counter(level_2, decimal) '.'
    counter(level_3, decimal) '.' counter(level_4, decimal) '. '
    attr(data-placeholder);
}
/* LVL 6 */
.ProseMirror
  > div.body
  > section
  > section
  > section
  > section
  > section:not(.toc) {
  counter-increment: level_5;
  counter-reset: level_6;
}
.ProseMirror
  > div
  > section
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}
.ProseMirror
  > div.body
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(level_1, decimal) '.' counter(level_2, decimal) '.'
    counter(level_3, decimal) '.' counter(level_4, decimal) '.'
    counter(level_5, decimal) '. ';
}
.ProseMirror
  > div.body
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(level_1, decimal) '.' counter(level_2, decimal) '.'
    counter(level_3, decimal) '.' counter(level_4, decimal) '.'
    counter(level_5, decimal) '. ' attr(data-placeholder);
}
/* LVL 7 */
.ProseMirror
  > div.body
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc) {
  counter-increment: level_6;
  counter-reset: level_7;
}
.ProseMirror
  > div
  > section
  > section
  > section
  > section
  > section
  > .block-section_title
  > h1 {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: left;
  margin-top: 8pt !important;
  margin-bottom: 5pt !important;
  line-height: 1.5;
  text-indent: 0pt;
  display: inline;
}
.ProseMirror
  > div.body
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1::before {
  content: counter(level_1, decimal) '.' counter(level_2, decimal) '.'
    counter(level_3, decimal) '.' counter(level_4, decimal) '.'
    counter(level_5, decimal) '.' counter(level_6, decimal) '. ';
}
.ProseMirror
  > div.body
  > section
  > section
  > section
  > section
  > section
  > section:not(.toc)
  > .block-section_title
  > h1.empty-node[data-placeholder]::before {
  content: counter(level_1, decimal) '.' counter(level_2, decimal) '.'
    counter(level_3, decimal) '.' counter(level_4, decimal) '.'
    counter(level_5, decimal) '.' counter(level_6, decimal) '. '
    attr(data-placeholder);
}
.ProseMirror div.backmatter::before {
  content: '';
  border-bottom: 1px dashed #c9c9c9;
  display: block;
  margin: 11pt 49pt;
}
.ProseMirror div.backmatter .block-section_title > h1 {
  font-size: 13.5pt !important;
  color: #6e6e6e !important;
}

.ProseMirror p.block {
  font-size: 12pt !important;
  font-style: normal !important;
  font-weight: normal !important;
  color: #353535 !important;
  text-align: left !important;
  margin-top: 10pt !important;
  margin-bottom: 10pt !important;
  line-height: 2 !important;
  text-indent: 0pt !important;
}

.ProseMirror .figure-block {
  border-color: #000 !important;
  border-style: none !important;
  border-width: 0pt !important;

  padding: 4pt !important;
  gap: 4pt !important;

  grid-template-columns: repeat(3, auto) !important;
  grid-template-rows: repeat(1, minmax(min-content, max-content)) [caption listing] auto !important;
}

.ProseMirror .figure-group {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 0.5rem;
}

.ProseMirror .figure-block > figure {
  border-color: #000 !important;
  border-style: none !important;
  border-width: 0pt !important;
  position: relative;
  grid-column: 1/-1;
}

.ProseMirror .figure-block > figcaption .figure-label {
  display: initial !important;
}

.ProseMirror .figure-block[id^='MPTable'] {
  border-collapse: collapse;
  empty-cells: show;
  display: grid;
}

.ProseMirror .figure-block[id^='MPTable'] tr:first-of-type > td {
  background-color: #eee !important;

  border-top-color: #000 !important;
  border-top-style: none !important;
  border-top-width: 2pt !important;

  border-bottom-color: #000 !important;
  border-bottom-style: none !important;
  border-bottom-width: 1pt !important;
}

.ProseMirror .figure-block[id^='MPTable'] tr:last-of-type > td {
  background-color: #eee !important;

  border-top-color: #000 !important;
  border-top-style: none !important;
  border-top-width: 1pt !important;

  border-bottom-color: #000 !important;
  border-bottom-style: none !important;
  border-bottom-width: 1pt !important;
}

.ProseMirror .figure-block[id^='MPTable'] > figcaption {
  grid-row: 2 !important;
  text-align: center !important;
}

.unsupported-format-label {
  font-size: 140%;
  line-height: 1.3;
  padding: 10px 0;
}
.unsupported-icon-wrapper {
  padding: 0 0 15px;
}
.tools-panel {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.tools-bottom {
  top: auto;
  bottom: 0;
}

.tools-static {
  position: static;
}


.comment-marker.selected-comment > svg > path, .comment-marker:active > svg > path {
  stroke: #f7b314;
  fill: #ffe0b2;
}

.comment-marker {
  display: inline-flex;
  width: 0;
  z-index: 5;
  top: -20px;
  left: 0;
  cursor: pointer;
  position: relative;
}

.block > div.comment-marker, .figure-block > div.comment-marker {
  top: -25px;
  left: 100%;
}

.figure-block div.comment-marker {
  grid-column: 3;
}

figure.block > .comment-marker {
  float: right;
  top: 0;
  left: 0;
}

section > .comment-marker {
  top: 12px;
  float: right;
  left: -64px;
}

span.comment-marker {
  top: -38px;
  left: -10px;
}

.citation-wrapper + .comment-marker {
  left: -2px;
}

.keyword-group > .comment-marker {
  float: right;
}

.comment-marker svg {
  position: absolute;
  top: 12px;
}

.comment-marker[data-count="0"] {
  display: none;
}

.comment-marker[data-count]:after {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: attr(data-count);
  top: 8px;
  left: 8px;
  background-color: #F7B314;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 9px;
  color: #ffffff;
}

.bib-item:hover > .bibliography-double-button {
  visibility: visible;
}

.bib-item {
  display: flex;
  margin-bottom: 12px;
  min-height: 80px;
}

.bibliography-double-button {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 100%;
  width: 36px;
  visibility: hidden;
}

.bibliography-edit-button,
.bibliography-comment-button {
  text-decoration: none;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 40px;
  background: #ffffff;
  color: inherit;
  border: 1px solid #e2e2e2;
  border-radius: 32px 32px 0 0;
  cursor: pointer;
}
.bibliography-double-button button:disabled svg {
  opacity: 0.25;
}

.bibliography-comment-button {
  border-radius: 0 0 32px 32px;
}

.ProseMirror > .keywords > .block-section_title > h1 {
  color: #353535 !important;
  font-size: 12px !important;
  font-style: italic !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  margin-top: 4px !important;
}
.ProseMirror > .author-notes {
  margin: 1rem 0;
}
.ProseMirror > .author-notes > .block-section_title > h1 {
  color: #353535 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  margin: 0 !important
}

.keywords .keyword {
  display: inline-block;
  color: #353535;
  background-color: #f2f2f2;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
  border: 1px solid transparent;
  border-radius: 6px;
  position: relative;
  cursor: default;
  padding: 4px 8px;
}

.keywords .selected-suggestion {
  line-height: 1.6 !important;
  display: inline-block;
}

.keywords .selected-suggestion .keyword {
  background: none !important;
  margin: 0;
}

.keyword-group > span {
  margin-right: 4px;
}

.keywords .keyword ins,
.keywords .keyword del {
  background-color: inherit !important;
}

.keywords .keyword:hover:not(.pending) {
  background-color: #f2fbfc !important;
}

.keywords .keyword.selected {
  background-color: #f2fbfc;
  border-color: #bce7f6;
}

.keywords .keyword.deleted.pending,
.keywords .keyword.deleted.accepted {
  text-decoration: line-through;
}

.keywords .keyword .track-changes--control {
  top: 0;
}

.keywords .delete-keyword {
  cursor: pointer;
  margin: 0 0 0 8px;
  opacity: 0.5;
}

.keywords .delete-keyword:hover {
  opacity: 1;
}

.keywords .deleted .delete-keyword {
  display: none;
}

.keywords .deleted.rejected .delete-keyword {
  display: inline;
}

.keywords .inserted.pending .delete-keyword {
  display: none;
}

.keywords .keyword-group-container {
  position: relative;
  margin: 0 0 36px !important;
}

.keywords .keyword-group {
  display: inline;
}

.keywords .keywords-editor {
  position: static;
  display: inline-block;
  width: auto;
}
.author-notes > .block-section_title > .block-gutter,
.keywords > .block-section_title > .block-gutter {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
}

.author-notes > .block-section_title > .block,
.keywords > .block-section_title > .block {
  align-items: center;
}

.author-notes .block-comment-button,
.keywords .block-comment-button {
  position: absolute;
  right: 0;
  top: 0;
}

.author-notes .block-comment-button .comment-icon,
.keywords .block-comment-button .comment-icon {
  top: 8px;
}

.attrs-popper-button-active,
.attrs-track-mark:hover .attrs-popper-button {
  display: inline-flex;
}

.attrs-popper-button {
  display: none;
  background: #fff;
}

.attrs-popper-button:hover {
  background: #f2fbfc;
}

.attrs-popper-button:hover path {
  stroke: #1a9bc7;
}

.attrs-popper-button,
.attrs-popper-button-active {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: solid 1px #e2e2e2;
  align-items: center;
  justify-content: space-around;
  margin: 2px;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  right: 0;
}

.ProseMirror {
  --inserted-pending-bg-color: #e6ffdb;
  --inserted-pending-color: #01872e;
  --accepted-bg-color: #e2e2e2;
  --deleted-color: #F35143;
  --deleted-pending-bg-color: #FFF1F0;
  --highlight-bg-color: #ffeebf;
  --common-color: #353535;
  --selected-pending-background-color: #ddf3fa;
  --selected-accepted-background-color: #f2f2f2;
}
.ProseMirror ins,
.ProseMirror del {
  text-decoration: none;
}

.selected-suggestion::selection {
  background: none;
}

span.selected-suggestion, 
.selected-suggestion > .block-container .block:not(.accepted),
.selected-suggestion:not(:has(> .block-container)) {
  background-color: var(--selected-pending-background-color) !important;
  color: var(--common-color) !important;
  border-width: 2px 0 2px 0 !important;
  border-color: #20aedf !important;
  border-radius: 3px !important;
  border-style: solid !important;
}

span.accepted .selected-suggestion, 
.accepted .selected-suggestion > .block-container .block, 
.accepted .selected-suggestion:not(:has(> .block-container)),
.selected-suggestion[data-track-status="accepted"],
.selected-suggestion  > .block-container .block.accepted,
.selected-suggestion  > .block-container .block:has([data-track-status='accepted']),
.selected-suggestion:not(:has(> .block-container)):has([data-track-status='accepted']) {
  background-color: var(--selected-accepted-background-color) !important;
  border-width: 2px 0 2px 0 !important;
  border-color: #C9C9C9 !important;
  border-radius: 3px !important;
  border-style: solid !important;
}

.block-bullet_list .selected-suggestion p, .block-ordered_list .selected-suggestion p {
  margin: 0;
}

.block-bullet_list .selected-suggestion, .block-ordered_list .selected-suggestion {
  margin: 16px 0;
}

.ProseMirror .inserted.pending,
.ProseMirror [data-track-op='insert'][data-track-status='pending'] .block {
  background: var(--inserted-pending-bg-color);
  color: var(--inserted-pending-color);
  text-decoration: underline;
}

.ProseMirror .selected-suggestion .inserted.pending,
.ProseMirror .selected-suggestion [data-track-op='insert'][data-track-status='pending'] .block {
  background-color: var(--selected-pending-background-color) !important;
  color: var(--common-color) !important;
}
.ProseMirror .inserted.accepted {
  text-decoration: none;
}
.ProseMirror .inserted.rejected {
  display: none;
}

/* Is this needed? */
.ProseMirror .set_attrs.pending {
  background: var(--inserted-pending-bg-color);
  text-decoration: none;
}
/* Is this needed? */
.ProseMirror .set_attrs.accepted {
  background: var(--accepted-bg-color);
  text-decoration: none;
}
.ProseMirror .deleted.pending::before,
.ProseMirror .deleted.pending {
  background: var(--deleted-pending-bg-color);
  color: var(--deleted-color);
  text-decoration: line-through;
}

.ProseMirror .deleted.accepted::before,
.ProseMirror .deleted.accepted {
  text-decoration: line-through;
}
.ProseMirror .deleted.rejected {
  text-decoration: none;
}

.ProseMirror .inserted.pending:has(.selected-suggestion),
.ProseMirror .deleted.pending:has(.selected-suggestion),
.ProseMirror .selected-suggestion .highlight,
.ProseMirror .selected-suggestion .graphical-abstract:has([data-track-status='pending'][data-track-op='insert']) {
  background: transparent !important;
  color: var(--common-color);
  text-decoration: none;
}

.citation-wrapper {
  position: relative;
}

.track-changes-review {
  display: none;
  height: 36px;
  vertical-align: middle;
  cursor: pointer;
  position: absolute;
  z-index: 6;
  margin-left: -5px;
}
.track-changes-review:hover path {
  stroke: #1a9bc7;
}
.citation-wrapper:hover .track-changes-review {
  display: inline-block;
}

.ProseMirror .affiliation[data-track-status='rejected'][data-track-op='insert'],
.ProseMirror .contributor[data-track-status='rejected'][data-track-op='insert'],
.ProseMirror figure[data-track-status='rejected'][data-track-op='insert'],
.ProseMirror table[data-track-status='rejected'][data-track-op='insert'],
.ProseMirror
  .block-container[data-track-status='rejected'][data-track-op='insert'] {
  display: none;
}

.contributor[data-track-status='pending'][data-track-op='delete'],
.affiliation[data-track-status='pending'][data-track-op='delete'] {
  text-decoration: line-through;
  color: var(--deleted-color);
  background-color: var(--deleted-pending-bg-color)
}

.contributor[data-track-op='delete']:not([data-track-status='rejected']) {
  text-decoration: line-through;
}

.contributor[data-track-status='pending'][data-track-op='insert'],
.affiliation[data-track-status='pending'][data-track-op='insert'] {
  background: var(--inserted-pending-bg-color);
  color: var(--inserted-pending-color);
  text-decoration: underline;
}

.contributors {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
}
.contributors-list {
  display: flex;
  max-width: 100%;
  flex: 0 1 auto;
  flex-wrap: wrap;
  align-items: baseline;
}
.contributors-list .separator {
  margin-right: 4px;
}
.contributors .tools-panel {
  position: initial;
  display: flex;
  flex: 1;
  align-items: center;
  margin-top: 4px;
}
.contributor .contributor-comment {
  left: 0;
  top: -8px;
  width: auto;
  height: auto;
}
.contributor {
  position: relative;
  display: inline-flex;
  background: transparent;
  border: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  outline: none;
  padding: 4px 0;
}

.contributor:not(:disabled):hover {
  cursor: pointer !important;
  background-color: #d9f6ff;
}

.contributor-note:last-child {
  margin: 0;
}

.contributor:not(:disabled):focus {
  cursor: pointer !important;
}

.contributors-legend {
  margin: 16px 0 0 0;
}

.contributor-legend .symbol {
  display: inline-block;
  font-size: 0.75em;
  line-height: 1;
  vertical-align: top;
}

.contributor-note {
  display: inline-block;
  font-size: 0.75em;
  margin: 0 1px;
  line-height: 1;
  vertical-align: top;
}

.block-affiliations {
  margin-top: 16px;
  color: #6e6e6e;
  margin-bottom: 24px;
}

.affiliation {
  line-height: 1.2;
  cursor: default;
  user-select: none;
}

.affiliation .affiliation-label {
  font-weight: bold;
  margin-right: 4px;
}

.block-affiliations .block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.ProseMirror .doi-container {
  margin: 1rem 64px 0;
  font-size: 12px;
  color: #6e6e6e;

}

* {
  scroll-behavior: smooth;
}

.ProseMirror li.ProseMirror-selectednode:after {
  content: none;
}
