.popper {
  color: #353535;
  position: absolute;
  width: auto;
  z-index: 10;
}

.popper-arrow {
  width: 0;
  height: 0;
  position: absolute;
  border: 5px solid transparent;
}

.popper[data-popper-placement='bottom'] .popper-arrow {
  top: -5px;
  left: calc(50% - 5px);
  border-bottom-color: #e2e2e2;
  border-top-width: 0;
}

.popper[data-popper-placement='top'] .popper-arrow {
  bottom: -5px;
  left: calc(50% - 5px);
  border-top-color: #e2e2e2;
  border-bottom-width: 0;
}

.popper[data-popper-placement='left'] .popper-arrow {
  right: -5px;
  top: calc(50% - 5px);
  border-left-color: #e2e2e2;
  border-right-width: 0;
}

.popper[data-popper-placement='right'] .popper-arrow {
  left: -5px;
  top: calc(50% - 5px);
  border-right-color: #e2e2e2;
  border-left-width: 0;
}

.popper[data-popper-placement='bottom-start'] .popper-arrow {
  top: -5px;
  left: calc(50% - 5px);
  border-bottom-color: #e2e2e2;
  border-top-width: 0;
}

/*.popper[data-popper-placement="right-end"] .popper-arrow {
  left: -5px;
  top: 5px;
  border-right-color: #eee;
  border-left-width: 0;
  margin: 5px 0;
}*/

.popper .equation-editor,
.table-cell-context-menu {
  position: relative;
}

.popper .equation-editor-info {
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  bottom: 6px;
  color: #6e6e6e;
  display: inline-flex;
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  right: 6px;
  text-decoration: none;
  width: 16px;
  z-index: 2;
}

.popper .equation-editor-info:hover {
  opacity: 1;
}

.popper .CodeMirror {
  border: 1px solid #e2e2e2;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  height: auto;
  min-height: 4em;
  min-width: 500px;
}

.popper .CodeMirror-scroll {
  max-height: 400px;
}

.popper .CodeMirror-placeholder {
  color: #999 !important;
}

.popper .menu {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
}

.popper .menu .menu-section {
  padding: 4px 0;
}

.popper .menu .menu-section:not(:last-child) {
  border-bottom: 1px solid #e2e2e2;
}

.popper .menu-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 16px 6px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.popper .menu.edit-menu .menu-section {
  padding: 0;
  border-bottom: none;
}
.popper .menu.edit-menu .menu-item {
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
}


.popper .section-category .menu-item {
  padding-right: 40px;
}

.popper .menu-item[disabled],
.popper .menu-item.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.popper .menu-item.selected,
.popper .menu-item:hover {
  background: #f5fbfc;
}

.popper .citation-editor,
.popper .cross-reference-editor,
.popper .citation-references,
.popper .track-changes-review-panel,
.popper .footnote-editor,
.popper .table-footnote-editor,
.popper .table-cell-context-menu,
.context-menu > div {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  height: auto;
}

.popper .context-menu {
  width: auto;
  top: -12px;
  right: unset;
}
.popper .footnote-context-menu {
  top: 0;
}

.popper .position-menu {
  top: -15px;
}

.popper .conflict-dropdown {
  background: #fff;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  border: 1px solid #e2e2e2;
  border-radius: 1px;
}

.popper .conflict-option {
  padding: 8px;
  cursor: pointer;
}

.popper .conflict-option-contents {
  color: #353535;
  font-size: 16px;
  line-height: 1.5;
}

.popper .conflict-option:hover {
  background: #dcefff;
}

.popper .conflict-option-label {
  color: #0b6bb8;
  font-size: 12px;
  margin-bottom: 4px;
}

.popper .sync-warning {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  color: #353535;
  padding: 0 12px;
  width: 250px;
}

.popper .link-editor {
  position: relative;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  height: auto;
}

.popper .citation-editor {
  position: relative;
  width: 600px;
}

.popper .footnote-editor {
  width: 600px;
}

.popper .cross-reference-editor {
  position: relative;
}

.popper .cross-reference-editor,
.popper .equation-editor,
.popper .link-editor {
  min-width: 500px;
  max-width: 800px;
}

@media (max-width: 800px) {
  .popper .citation-editor,
  .popper .cross-reference-editor,
  .popper .equation-editor,
  .popper .link-editor,
  .popper .footnote-editor {
    min-width: 90%;
    max-width: 90%;
  }
}

.popper .footnote-editor {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  box-shadow: 0 4px 9px 0 rgba(84, 83, 83, 0.3);
  height: auto;
  width: 600px;
}

.popper .track-attrs-popper {
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background: #fff;
  width: 368px;
  z-index: 10;
}

.popper .menu .context-submenu {
  position: relative;
}
.popper .menu .context-submenu-trigger {
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.popper .menu .context-submenu .menu-section {
  display: none;
  position: absolute;
  left: 100%;
  top: 25px;
}
.popper .menu .context-submenu .menu-section.show {
  display: block;
}
